<mat-toolbar class="justify-content-between text-glow-dark fixed-top mat-elevation-z4">
    <a href="" mat-ripple class="logo font-size-24 pointer">POLYCHROMIA</a>
    <div class="d-inline-block float-right">

        <button mat-icon-button class="text-glow-dark" aria-label="steam icon button">
            <i class="lab la-2x la-google-play"></i>
        </button>
        <button mat-icon-button class="text-glow-dark" aria-label="google play icon button">
            <i class="lab la-2x la-steam"></i>
        </button>
        <button mat-icon-button class="text-glow-dark" aria-label="itch.io icon button">
            <i class="lab la-2x la-itch-io"></i>
        </button>
    </div>
</mat-toolbar>
