<ng-container *ngIf="loaded">
    <app-navbar></app-navbar>
    <div class="pt-5 bg-main">
        <app-segment class="mt-5 pt-5" [hideFlower]="true" [seed]="1" [nextColor]="colors.PURPLE">
            <app-logo class="text-entrance"></app-logo>
            <app-flower [color]="colors.BLUE" class="divider my-5"></app-flower>
            <h1 class="font-weight-bold font-size-36 mb-5 text-glow">
                <i class="la la-paint-brush"></i>
                A relaxing color-blending puzzle experience.
            </h1>

            <div class="row justify-content-center mt-5">
                <div class="col pt-4">
                    <a href="https://play.google.com/store/apps" *ngIf="false" target="_blank">
                        <button class="custom-btn google-play text-glow-dark m-3">
                            <!--                        Google play-->
                            <i class="la-3x lab la-google-play"></i>
                        </button>
                    </a>
                    <a href="https://store.steampowered.com/app/1909080/Polychromia/" target="_blank">
                        <button class="custom-btn steam text-glow-dark m-3">
                            <!--                        STEAM-->
                            <i class="la-3x lab la-steam"></i>
                        </button>
                    </a>
                    <a href="https://johnnyneverwalked.itch.io/polychromia" target="_blank">
                        <button class="custom-btn itch-io text-glow-dark m-3">
                            <!--                        Itch.io-->
                            <i class="la-3x lab la-itch-io"></i>
                        </button>
                    </a>
                </div>
            </div>
        </app-segment>

        <app-segment [color]="colors.PURPLE" title="Watch the trailer" [nextColor]="colors.BLUE">
            <div class="row">
                <div class="col" #trailerContainer [ngStyle]="{height: .56 * trailerContainer.offsetWidth + 'px', maxHeight: '650px', maxWidth: '1300px'}">
                    <embed width="100%" height="100%"
                           src="https://www.youtube.com/embed/Vm3CIan_RS0"
                           wmode="transparent"
                           type="video/mp4"
                           allow="autoplay; encrypted-media; picture-in-picture"
                           allowfullscreen
                           title="Polychromia reveal trailer">
                </div>
            </div>
        </app-segment>

        <app-segment [color]="colors.BLUE" title="A fresh take on logic puzzles" [nextColor]="colors.GREEN">
            <p class="font-size-24 m-0 mb-5">
                Polychromia combines numberlink puzzles with color theory to create a unique mind-bending experience. <br>
                Solve by blending colors together in order to paint every square and fill every endpoint <br>

                <video class="mat-elevation-z4 my-4 border-radius video"
                       src="assets/videos/compressed/first.mp4"
                       [autoplay]="true" [loop]="true" [muted]="true" type="video/mp4">
                </video>
                <br>

                Tranquil sounds and serene visuals will help you enter your flow state and lose yourself into the colors.
            </p>
            <div class="row mt-3">
                <div class="col-12 col-lg mb-3">
                    <h1 class="font-size-36 title">Paint</h1>
                    <video class="mat-elevation-z4 border-radius video w-100"
                           src="assets/videos/compressed/paint.mp4"
                           [autoplay]="true" [loop]="true" [muted]="true" type="video/mp4">
                    </video>
                    <p class="font-size-18">Paint the whole board with colors! Don't leave any squares empty.</p>
                </div>
                <div class="col-12 col-lg mb-3">
                    <h1 class="font-size-36 title">Blend</h1>
                    <video class="mat-elevation-z4 border-radius video w-100"
                           src="assets/videos/compressed/blend.mp4"
                           [autoplay]="true" [loop]="true" [muted]="true" type="video/mp4">
                    </video>
                    <p class="font-size-18">Mix colors together to create new ones by overlapping lines.</p>
                </div>
                <div class="col-12 col-lg mb-3">
                    <h1 class="font-size-36 title">Bloom!</h1>
                    <video class="mat-elevation-z4 border-radius video w-100"
                           src="assets/videos/compressed/bloom.mp4"
                           [autoplay]="true" [loop]="true" [muted]="true" type="video/mp4">
                    </video>
                    <p class="font-size-18">Fill the hollow circles with the correct colors and make the flowers inside
                        bloom!</p>
                </div>
            </div>
        </app-segment>

        <!--    <app-segment title="TRY IT!" [nextColor]="colors.GREEN">-->
        <!--        <p class="font-size-24 m-0">-->
        <!--            <i class="la la-paint-brush"></i>-->
        <!--            Draw lines starting from the colored circles and cover the whole board!-->
        <!--            <br>-->
        <!--            <i class="las la-palette"></i>-->
        <!--            Try to fill the hollow circles with their matching color by blending colors together!-->
        <!--        </p>-->
        <!--        <app-game class="mt-5"></app-game>-->
        <!--    </app-segment>-->


        <app-segment [color]="colors.GREEN" [nextColor]="colors.YELLOW" title="Different palettes">
            <p class="font-size-24 m-0">
                Polychromia offers a variety of color palettes to match your unique aesthetic.
                Switch up the game's visuals to create the coziest experience tailored to you.
            </p>
            <p class="mt-4">
                <video class="mat-elevation-z4 border-radius video"
                       src="../assets/videos/compressed/palettes.mp4"
                       [autoplay]="true" [loop]="true" [muted]="true" type="video/mp4">
                </video>
            </p>
        </app-segment>

        <app-segment [color]="colors.YELLOW" [nextColor]="colors.ORANGE" title="Minimal aesthetic">
            <p class="font-size-24 m-0">
                <b>Polychromia is a colorful zen garden.</b> <br>
                With its minimal aesthetic, clever use of white space and calming
                sound design, it aims to invoke
                feelings of peace and tranquility.
            </p>
            <p class="mt-4">
                <video class="mat-elevation-z4 border-radius video"
                       src="assets/videos/compressed/minimal.mp4"
                       [autoplay]="true" [loop]="true" [muted]="true" type="video/mp4">
                </video>
            </p>
        </app-segment>

        <app-segment [color]="colors.ORANGE" [nextColor]="colors.RED" title="Chill soundtrack">

            <p class="font-size-24">
                Polychromia's soundtrack features piano improvisations along with chill, lo-fi tracks to help you relax and
                enter a flow-like state while playing it. Just empty your thoughts and solve puzzles to the music. <i
                class="la la-music"></i>
            </p>
            <p class="mt-4 font-size-14">
                <img alt="cassette" src="assets/images/cassette.png" [ngStyle]="{maxHeight: '256px', maxWidth: '256px'}">
            </p>
        </app-segment>

        <app-segment [color]="colors.RED" title="Accessibility" [nextColor]="colors.PURPLE">
            <p class="font-size-24">
                Polychromia includes many different options such as <b>adjustable</b> visual effects and
                <b>colorblindness</b> support in order
                to make the experience as accessible as possible for everyone.
            </p>
            <p class="mt-4">
                <img alt="colorblind-symbols" src="assets/images/cbgif.gif"
                     [ngStyle]="{maxHeight: '128px', maxWidth: '192px'}">
            </p>
        </app-segment>

        <app-segment [color]="colors.PURPLE" title="Get in touch" nextColor="black" [seed]="1">
            <p class="font-size-24">
                Subscribe to my newsletter to get updates about the game and also join the <b>closed BETA</b> once it
                becomes available.
                You can expect at most 1-2 emails per month with development updates and maybe some trivia about how the
                concept for <b>POLYCHROMIA</b> came to be.
                <br>
                <small>I will not spam you, I promise! <i class="la la-heart"></i></small>
            </p>
            <div class="text-center row mt-3">
                <div class="col-md-4 offset-md-4 col-12">
                    <a href="https://mailchi.mp/efeb01eebccd/polychromia" target="_blank">
                        <button class="custom-btn text-white">
                            <mat-icon class="mat-2x mt-2 mx-5 text-glow-dark">email</mat-icon>
                        </button>
                    </a>
                </div>
            </div>
        </app-segment>

        <footer class="px-2 px-md-5 pb-5 text-white text-glow-dark font-size-18 bg-black">

            <div class="row pt-5 pt-md-0 w-100">

                <div class="col-12 text-right">
                    <p><a href="https://twitter.com/CursedTomo" target="_blank">
                        @CursedTomo <i class="lab la-twitter"></i>
                    </a></p>
                    <p><a href="https://store.steampowered.com/app/1909080/Polychromia/" target="_blank">
                        Steam <i class="lab la-steam"></i>
                    </a></p>
                    <p><a href="https://johnnyneverwalked.itch.io/polychromia" target="_blank">
                        Itch.io <i class="lab la-itch-io"></i>
                    </a></p>
                </div>
                <div class="col-12 mt-5 align-self-end">
                    <small class="font-italic">Cassette art by vectorpocket</small>
                </div>
            </div>
        </footer>
    </div>
</ng-container>
