<div class="mt-5 pt-5 bg-main">
    <app-segment class="mt-5" nextColor="purple" class="text-center">
        <app-logo class="text-entrance"></app-logo>
    </app-segment>

    <app-segment [color]="color"
                 [nextColor]="(colors|values)[(i + 1) % (colors|values).length]"
                 *ngFor="let color of colors|values; let i = index">
        <app-flower [color]="color" class="divider  mb-5"></app-flower>
        <p class="font-size-20 m-0">
            <b>Lorem</b> Lorem Ipsum is simply dummy text of the printing and
            typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
            an
            unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
            only
            five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
            popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </app-segment>
</div>
