@import "assets/css/_variables";

@font-face {
    font-family: Ignotum;
    src: url(assets/fonts/Ignotum/Ignotum.otf) format("opentype");
}

@font-face {
    font-family: Lato;
    src: url(assets/fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato;
    font-weight: bold;
    src: url(assets/fonts/Lato/Lato-Bold.ttf);
}

html, body {
    height: 100%;
    font-family: Lato, "Helvetica Neue", sans-serif !important;
}

body {
    margin: 0;
    color: $text !important;
    min-width: 320px !important;
    overflow-y: auto;
    line-height: 32px!important;
}

h1 {
    line-height: 48px!important;
}

.bg-main {
    background-color: $bg;
}

.pointer {
    cursor: pointer !important;
}

.video {
    max-width: 512px;
    max-height: 512px;
}

@media screen and (max-width: 800px) {
    .video {
        max-width: 90%;
        max-height: 90%;
    }
}

@for $i from 1 through 100 {
    .font-size-#{$i} {
        font-size: #{$i}px!important;
        //line-height: calc(#{$i}px + 2px);
    }
}

.bg-red {
    background-color: $red !important
}

;
.bg-blue {
    background-color: $blue !important
}

;
.bg-yellow {
    background-color: $yellow !important
}

;
.bg-purple {
    background-color: $purple !important
}

;
.bg-green {
    background-color: $green !important
}

;
.bg-orange {
    background-color: $orange !important
}

;
.bg-white {
    background-color: $white !important
}

;
.bg-black {
    background-color: $black !important
}

;

.text-red {
    color: $red !important
}

;
.text-blue {
    color: $blue !important
}

;
.text-yellow {
    color: $yellow !important
}

;
.text-purple {
    color: $purple !important
}

;
.text-green {
    color: $green !important
}

;
.text-orange {
    color: $orange !important
}

;
.text-white {
    color: $white !important
}

;
.text-black {
    color: $black !important
}

;
.text-primary {
    color: $text !important
}

;
.text-secondary {
    color: $bg !important
}

;

.text-glow {
    text-shadow: 0 0 12px rgba(85, 94, 125, 0.41);
}

.text-glow-dark {
    text-shadow: 0 0 12px rgba(249, 249, 249, 0.41);
}

a:link {
    text-decoration: none !important;
    color: inherit;
}

a:visited {
    text-decoration: none !important;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit !important;
}

.divider {
    text-shadow: 0 0 12px rgba(85, 94, 125, 0.41);

    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 3px;
        width: 100%;
    }

    &::before {
        background: linear-gradient(to right, rgba(240, 240, 240, 0), $text);
        margin-right: 8vh;
    }

    &::after {
        background: linear-gradient(to left, rgba(240, 240, 240, 0), $text);
        margin-left: 4vh;
    }

}

.mat-2x {
    transform: scale(2);
}

.border-radius {
    border-radius: 10px;
}

button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    &.custom-btn {
        font-weight: 600;
        color: $text;
        text-transform: uppercase;
        padding: 1.25em 2em;
        background: lighten($black, 20%);
        border: 2px solid $black;
        border-radius: 0.75em;
        transform-style: preserve-3d;
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: lighten($black, 10%);
            border-radius: inherit;
            box-shadow: 0 0 0 2px $black, 0 0.625em 0 0 lighten($black, 30%);
            transform: translate3d(0, 0.75em, -1em);
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
        }
        &:hover {
            background: lighten($black, 20%);
            transform: translate(0, 0.25em);
            &::before {
                box-shadow: 0 0 0 2px $black, 0 0.5em 0 0 lighten($black, 30%);
                transform: translate3d(0, 0.5em, -1em);
            }
        }
        &:active {
            background: lighten($black, 20%);;
            transform: translate(0em, 0.75em);
            &::before {
                box-shadow: 0 0 0 2px $black, 0 0 lighten($black, 30%);
                transform: translate3d(0, 0, -1em);
            }
        }
    }
}

.text-entrance {
    -webkit-animation: text-entrance 1s both;
    animation: text-entrance 1s both;
}

@-webkit-keyframes text-entrance {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes text-entrance {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
